In [3]:
import pandas as pd
import numpy as np

filename = "/content/diabetes.xls"
df = pd.read_csv(filename)
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

# 1er vistazo

tiene o no tiene diabete debido a diversos factores

In [4]:
df.info()
#Ningun dato nulo
#BMI y Diabetepedeigree son flotantes
#768 filas, 9 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

# 2da vista

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
#max = 17 ¿tiene 17 hijos?

In [7]:
df['Pregnancies'].value_counts()

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

In [ ]:
preg_filter = df["Pregnancies"] < 14
gluc_filter = df["Glucose"] > 0
BP_filter = df["BloodPressure"] > 0
df1 = df.loc[preg_filter & gluc_filter & BP_filter, :]
df1

In [20]:
#quien tiene 14,15,17, hijos?
#df[(df["Pregnancies"]==17)]
#df[(df["Pregnancies"]==15)]
df[(df["Pregnancies"]==14)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
298,14,100,78,25,184,36.6,0.412,46,1
455,14,175,62,30,0,33.6,0.212,38,1

# Crear nueva data con los filtros correspondientes

In [54]:
df1=df[(df["Glucose"]==0)]
df1.index
df2=df.drop(df1.index)

df3=df[(df["Pregnancies"]>=14)] 
df3.index
df4=df2.drop(df3.index)
df4

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [57]:
#df4[(df4["Pregnancies"]>=14)]
df4[(df4["Glucose"]==0)]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

# Guardando un dataframe ya filtrado

In [59]:
#Como guardar el data que estamos modificando
df4.to_csv(path_or_buf='diabetes_filtrado.csv',index = False)

In [60]:
df4.to_excel(excel_writer='diabetes_filtrado.xlsx',index=False)

In [65]:
# cantidad de embarazos
df4["Pregnancies"].sum()
df4.sum()

Pregnancies                  2879.000
Glucose                     92273.000
BloodPressure               52453.000
SkinThickness               15496.000
Insulin                     60855.000
BMI                         24257.700
DiabetesPedigreeFunction      358.906
Age                         25212.000
Outcome                       262.000
dtype: float64

# Agrupando datos con groupby

In [ ]:
df4.groupby("Age")
df4.groupby("Age").sum() #suma toda las caracteristicas relacionadas a las edades

In [74]:
#df.groupby(['Mortgage Name', 'Interest Rate'])[['Interest Paid']].sum()
df4.groupby(["Age","BMI"])[["Pregnancies"]].sum()

          Pregnancies
Age BMI
21  0.0             2
    18.2            2
    19.1            1
    21.0            0
    21.8            3
...               ...
69  0.0             5
    26.8            5
70  32.5            4
72  19.6            2
81  25.9            9

[700 rows x 1 columns]

# Nueva data ciudades

In [66]:
df_cities = pd.DataFrame(data = [['Seattle', 1],
                          ['Kirkland', 2],
                          ['Redmond', 3],
                          ['Seattle', 4],
                          ['Kirkland', 5],
                          ['Redmond', 6]], columns = ['key', 'data'])
df_cities

        key  data
0   Seattle     1
1  Kirkland     2
2   Redmond     3
3   Seattle     4
4  Kirkland     5
5   Redmond     6

In [67]:
df_cities.groupby(["key"])

In [68]:
df_cities.groupby(["key"]).sum()

          data
key
Kirkland     7
Redmond      9
Seattle      5